<a href="https://colab.research.google.com/github/JulianSantos-LATAMAI/ECON-5200/blob/main/Lab%202/.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
cpi_2026 = 325

In [2]:
cpi_2026

325

In [3]:
cpi_1885 = 9.1

In [4]:
raito_cpi_1885_2026 = cpi_2026/ cpi_1885

In [8]:
print(raito_cpi_1885_2026)

35.714285714285715

In [9]:
real_price =0.02 * raito_cpi_1885_2026
print(real_price)

0.7142857142857143

In [10]:
rgdp = [1,2,3,4,5,6]

In [11]:
rgdp

[1, 2, 3, 4, 5, 6]

In [23]:
nations = ["A","B","C","D","E","F"]

In [24]:
nations

['A', 'B', 'C', 'D', 'E', 'F']

In [25]:
dict = {
    "nations": nations,
    "rgdp": rgdp,
    "inflation": [1, 2, 3, 3, 2, 1],
    "unemp": [1, 2, 3, 4, 5, 6]
}

In [26]:
dict

{'nations': ['A', 'B', 'C', 'D', 'E', 'F'],
 'rgdp': [1, 2, 3, 4, 5, 6],
 'inflation': [1, 2, 3, 3, 2, 1],
 'unemp': [1, 2, 3, 4, 5, 6]}

In [27]:
import pandas as pd

In [30]:
data = pd.DataFrame(dict)

In [32]:
data.head()

  nations  rgdp  inflation  unemp
0       A     1          1      1
1       B     2          2      2
2       C     3          3      3
3       D     4          3      4
4       E     5          2      5

In [34]:
data = ['misery_index'] = data ['inflation'] + data ['unemp']

SyntaxError: cannot assign to literal (ipython-input-2389421333.py, line 1)

In [35]:
nations

['A', 'B', 'C', 'D', 'E', 'F']

In [36]:
for i in nations:
  print (i)

A
B
C
D
E
F

In [37]:
for i in rgdp:
  if i > 3:
    print (i)

4
5
6

In [38]:
len(data)

6

In [47]:
for i in range(len(data)):
    if data.loc[i, "rgdp"] > 3:
        print(data.loc[i, "nations"])

D
E
F